.Header {
  padding: 10rem;
}

.Section {
  background-color: #fff;
  padding: 4rem;

  &__title {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 1.75rem;
  }

  &__showcase {
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__code {
    font-family: "Courier New";
    padding: 1rem;
    border-radius: 3px;
    background-color: #eeeeee;
    margin-right: 3rem;
    font-size: 1.2rem;
  }

  &__demo {
    margin-left: auto;
  }
}